In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('students_with_scores.csv')

# inspect first 5 rows

print(df.head())

       Name      School Grade  Score
0  Student1   West High     A     92
1  Student2  South High     F      6
2  Student3  North High     D     64
3  Student4   West High     B     88
4  Student5   West High     A     96

In [3]:
print(df.tail())

         Name      School Grade  Score
15  Student16  North High     C     76
16  Student17  South High     A     97
17  Student18  South High     C     72
18  Student19  South High     C     70
19  Student20   West High     A     93

In [8]:
#check shape
print(df.shape)

#check col names
print(df.columns)

#check summary stats
print(df.describe())

#data types, missing values
print(df.info())

(20, 4)
Index(['Name', 'School', 'Grade', 'Score'], dtype='object')
           Score
count  20.000000
mean   80.050000
std    19.789617
min     6.000000
25%    77.500000
50%    83.000000
75%    91.250000
max    99.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    20 non-null     object
 1   School  20 non-null     object
 2   Grade   20 non-null     object
 3   Score   20 non-null     int64
dtypes: int64(1), object(3)
memory usage: 772.0+ bytes
None

In [16]:
# indexing using .loc and .iloc

# single col

#print(df['Name'])

# multiple cols

#print(df[['Name', 'School']]) # two square brackets to index multiple cols

# row by label using loc

print(df.loc[0])

# specific rows and cols

print(df.loc[0:2]) # first 3 students (rows & cols) 

print(df.loc[0:2, ['Name', 'Grade']])

# .loc uses names, and IS INCLUSIVE!!!!!!!!!

Name       Student1
School    West High
Grade             A
Score            92
Name: 0, dtype: object
       Name      School Grade  Score
0  Student1   West High     A     92
1  Student2  South High     F      6
2  Student3  North High     D     64
       Name Grade
0  Student1     A
1  Student2     F
2  Student3     D

In [17]:
# iloc - index/integer based row retrieval

# specify rows and cols

# not inclusive!!!!!!!

print(df.iloc[0:2, 0:2])

       Name      School
0  Student1   West High
1  Student2  South High

In [18]:
# names & scores of 1st three students

print(df.loc[0:2, ['Name', 'Score']])

       Name  Score
0  Student1     92
1  Student2      6
2  Student3     64

In [23]:
# all students from a specific school

print(df.loc[df['School'] == 'West High'])

         Name     School Grade  Score
0    Student1  West High     A     92
3    Student4  West High     B     88
4    Student5  West High     A     96
8    Student9  West High     B     81
10  Student11  West High     C     78
11  Student12  West High     A     99
12  Student13  West High     B     84
13  Student14  West High     B     81
19  Student20  West High     A     93

In [53]:
# scores of last 2 students

print(df.iloc[-2:, df.columns.get_loc('Score')])

18    70
19    93
Name: Score, dtype: int64

In [34]:
# sort by descending

print(df.sort_values(by=['Score'], ascending=False))

         Name      School Grade  Score
11  Student12   West High     A     99
16  Student17  South High     A     97
4    Student5   West High     A     96
19  Student20   West High     A     93
0    Student1   West High     A     92
5    Student6  South High     A     91
9   Student10   East High     B     89
3    Student4   West High     B     88
12  Student13   West High     B     84
6    Student7  North High     B     83
14  Student15  South High     B     83
13  Student14   West High     B     81
8    Student9   West High     B     81
7    Student8  North High     C     78
10  Student11   West High     C     78
15  Student16  North High     C     76
17  Student18  South High     C     72
18  Student19  South High     C     70
2    Student3  North High     D     64
1    Student2  South High     F      6

In [ ]:
# show st

print(df[df["Score"] > 80])