In [1]:
import pandas as pd

In [2]:
#pandas series - 1D
# can access: values, index

data = [10,20,30,40,50]

series1 = pd.Series(data)
print(series1)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [4]:
print(series1.values) #values

[10 20 30 40 50]

In [5]:
print(series1.index) #indexes

RangeIndex(start=0, stop=5, step=1)

In [12]:
temps = [25, 38, 47, 72, 11]

tempseries = pd.Series(temps)

print(tempseries.max())
print(tempseries.min())

72
11

In [14]:
tempseries.index = ['Mon', 'Tues', 'Weds', 'Thurs', 'Fri'] # change indexes. has to have same number of indices

print(tempseries.index)

Index(['Mon', 'Tues', 'Weds', 'Thurs', 'Fri'], dtype='object')

In [15]:
print(tempseries)

Mon      25
Tues     38
Weds     47
Thurs    72
Fri      11
dtype: int64

In [17]:
#dataframes

data = {
    'name': ['ollie', 'sam', 'luke', 'morgan', 'minerva'],
    'age': [32, 27, 27, 32, 12],
    'city': ['reading', 'london', 'north', 'australia', 'mars'] 
}

df = pd.DataFrame(data)

print(df)

      name  age       city
0    ollie   32    reading
1      sam   27     london
2     luke   27      north
3   morgan   32  australia
4  minerva   12       mars

In [19]:
data2 = {
    'name': ['white chocolate', 'dark chocolate', 'milk chocolate'],
    'price': [2.5, 4.9, 3.2],
    'quantity': [57, 2000, 25]
}

dfchoc = pd.DataFrame(data2)
print(dfchoc)

              name  price  quantity
0  white chocolate    2.5        57
1   dark chocolate    4.9      2000
2   milk chocolate    3.2        25

In [24]:
#dfchoc.insert(3, 'colour', ['ivory', 'dark brown', 'medium brown'])

ValueError: cannot insert colour, already exists

In [25]:
dfchoc['total value'] = dfchoc['price'] * dfchoc['quantity']

print(dfchoc)

              name  price  quantity        colour  total value
0  white chocolate    2.5        57         ivory        142.5
1   dark chocolate    4.9      2000    dark brown       9800.0
2   milk chocolate    3.2        25  medium brown         80.0