In [1]:
import numpy as np
import pandas as pd

In [4]:
fields = ['close']

df = pd.read_csv('gold_price_data.csv', usecols=fields)

df.to_numpy()
print(df)

           close
0      44.070000
1      44.470001
2      44.740002
3      44.720001
4      44.790001
...          ...
5210  309.839996
5211  310.700012
5212  311.000000
5213  307.630005
5214  306.709991

[5215 rows x 1 columns]

In [5]:
close_col_array = df

print(close_col_array)

           close
0      44.070000
1      44.470001
2      44.740002
3      44.720001
4      44.790001
...          ...
5210  309.839996
5211  310.700012
5212  311.000000
5213  307.630005
5214  306.709991

[5215 rows x 1 columns]

In [6]:
print('mean: ', np.mean(close_col_array))

mean:  131.25655610915683

In [7]:
print('median: ', np.median(close_col_array))

median:  123.9800033569336

In [8]:
print('std: ', np.std(close_col_array))

std:  close    51.068278
dtype: float64

/home/georgina/PycharmProjects/skillssprint2/.venv/lib/python3.12/site-packages/numpy/_core/fromnumeric.py:4062: FutureWarning: The behavior of DataFrame.std with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return std(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)

In [9]:
print('max: ', np.max(close_col_array))

max:  315.0400085449219

In [10]:
print('min: ', np.min(close_col_array))

min:  41.02000045776367

In [11]:
maximum = np.max(close_col_array)
minimum = np.min(close_col_array)

print('range: ', maximum - minimum)

range:  274.0200080871582

In [16]:
fields = ['date', 'close']


dfdatesandclose = pd.read_csv('gold_price_data.csv', usecols=fields)

max_close = np.max(dfdatesandclose['close'])

print('date of max: ', np.array(dfdatesandclose[dfdatesandclose['close'] == max_close]['date'])[0])

date of max:  2025-06-13

In [19]:
fulldf = pd.read_csv('gold_price_data.csv')

fulldf.to_numpy()

print('first 30 days: ', fulldf[0:31])

first 30 days:            date       open       high        low      close  adj_close  \
0   2004-11-18  44.380001  44.380001  44.490002  44.070000  44.430000
1   2004-11-19  44.779999  44.779999  44.919998  44.470001  44.490002
2   2004-11-22  44.950001  44.950001  44.970001  44.740002  44.750000
3   2004-11-23  44.750000  44.750000  44.919998  44.720001  44.880001
4   2004-11-24  45.049999  45.049999  45.049999  44.790001  44.930000
5   2004-11-26  45.290001  45.290001  45.599998  45.060001  45.250000
6   2004-11-29  45.400002  45.400002  45.500000  45.080002  45.099998
7   2004-11-30  45.119999  45.119999  45.410000  44.820000  45.369999
8   2004-12-01  45.380001  45.380001  45.590000  45.259998  45.279999
9   2004-12-02  44.950001  44.950001  45.570000  44.680000  45.549999
10  2004-12-03  45.599998  45.599998  46.000000  44.799999  45.040001
11  2004-12-06  45.169998  45.169998  45.470001  45.110001  45.389999
12  2004-12-07  45.110001  45.110001  45.320000  45.070000  45.299999
13  2004-12-08  44.009998  44.009998  44.020000  43.360001  43.799999
14  2004-12-09  43.779999  43.779999  43.900002  43.200001  43.750000
15  2004-12-10  43.439999  43.439999  43.599998  43.310001  43.369999
16  2004-12-13  43.910000  43.910000  44.009998  43.509998  43.610001
17  2004-12-14  43.549999  43.549999  43.799999  43.509998  43.759998
18  2004-12-15  43.990002  43.990002  44.169998  43.919998  44.099998
19  2004-12-16  43.680000  43.680000  44.049999  43.580002  43.990002
20  2004-12-17  44.189999  44.189999  44.220001  43.779999  43.930000
21  2004-12-20  44.340000  44.340000  44.369999  44.130001  44.330002
22  2004-12-21  44.220001  44.220001  44.240002  44.049999  44.130001
23  2004-12-22  44.020000  44.020000  44.230000  43.889999  44.200001
24  2004-12-23  44.270000  44.270000  44.349998  44.049999  44.169998
25  2004-12-27  44.480000  44.480000  44.560001  44.270000  44.290001
26  2004-12-28  44.369999  44.369999  44.470001  44.290001  44.419998
27  2004-12-29  43.660000  43.660000  44.020000  43.349998  43.919998
28  2004-12-30  43.830002  43.830002  43.880001  43.490002  43.500000
29  2004-12-31  43.799999  43.799999  43.939999  43.730000  43.849998
30  2005-01-03  43.020000  43.020000  43.169998  42.740002  42.980000

      volume
0    5992000
1   11655300
2   11996000
3    3169200
4    6105100
5    3097700
6    3759000
7    3857200
8    2037500
9    6457800
10   4218300
11   3102400
12   3797300
13   6148600
14   3553400
15   2464300
16   1445100
17   2240600
18   2641400
19   3269800
20   1889300
21   1942100
22   1373400
23   2705800
24    639800
25   2643500
26    773200
27   5632200
28   1289600
29    531600
30   4750400

In [20]:
print('last 30 days: ', fulldf[-31:])

last 30 days:              date        open        high         low       close   adj_close  \
5184  2025-06-30  304.829987  304.829987  304.920013  301.950012  302.390015
5185  2025-07-01  307.549988  307.549988  309.000000  307.359985  308.559998
5186  2025-07-02  309.250000  309.250000  309.399994  306.959991  308.040009
5187  2025-07-03  307.140015  307.140015  307.570007  306.149994  307.049988
5188  2025-07-07  307.369995  307.369995  307.709991  304.529999  305.070007
5189  2025-07-08  304.160004  304.160004  306.450012  302.769989  306.299988
5190  2025-07-09  305.519989  305.519989  305.540009  303.230011  303.579987
5191  2025-07-10  306.200012  306.200012  306.510010  304.820007  306.109985
5192  2025-07-11  309.140015  309.140015  310.279999  308.519989  308.859985
5193  2025-07-14  308.010010  308.010010  309.380005  307.730011  309.070007
5194  2025-07-15  306.730011  306.730011  308.739990  305.790009  307.730011
5195  2025-07-16  308.260010  308.260010  311.089996  305.730011  307.109985
5196  2025-07-17  307.589996  307.589996  307.670013  305.119995  305.500000
5197  2025-07-18  308.390015  308.390015  309.369995  308.320007  309.239990
5198  2025-07-21  313.130005  313.130005  313.309998  311.609985  311.880005
5199  2025-07-22  316.100006  316.100006  316.239990  313.619995  314.480011
5200  2025-07-23  312.179993  312.179993  314.959991  311.420013  314.000000
5201  2025-07-24  310.269989  310.269989  310.989990  309.059998  309.290009
5202  2025-07-25  307.399994  307.399994  308.309998  306.200012  307.820007
5203  2025-07-28  305.410004  305.410004  306.579987  304.049988  306.440002
5204  2025-07-29  306.250000  306.250000  307.029999  304.989990  305.799988
5205  2025-07-30  300.959991  300.959991  304.649994  300.959991  304.420013
5206  2025-07-31  302.959991  302.959991  304.609985  302.859985  304.589996
5207  2025-08-01  309.109985  309.109985  309.549988  307.450012  308.609985
5208  2025-08-04  310.910004  310.910004  311.739990  310.369995  310.799988
5209  2025-08-05  311.160004  311.160004  312.239990  310.220001  310.369995
5210  2025-08-06  310.500000  310.500000  311.239990  309.839996  310.320007
5211  2025-08-07  313.119995  313.119995  313.140015  310.700012  311.720001
5212  2025-08-08  313.049988  313.049988  313.529999  311.000000  312.350006
5213  2025-08-11  308.549988  308.549988  309.660004  307.630005  308.619995
5214  2025-08-12  308.269989  308.269989  309.309998  306.709991  308.220001

        volume
5184   8192100
5185   9335600
5186   8316400
5187   5275800
5188   7351600
5189  11840500
5190  10644100
5191   7053700
5192   9187300
5193   5772900
5194   8149000
5195  17693100
5196   6642300
5197   5574300
5198  10995800
5199  13691800
5200  10547500
5201   7698800
5202   9376400
5203   9275400
5204   5741100
5205  13459600
5206   8981000
5207  12843400
5208   7639000
5209   6997700
5210   7418200
5211  10891500
5212  19886800
5213  10326700
5214   9697400

In [61]:
# a = [1, 2, 3, 4, 5, 6, 7, 8]
# n = 3

# res = np.array_split(a, len(a) // n + (len(a) % n != 0))
# res = [list(i) for i in res]
# print(res)

months = np.array_split(fulldf['close'], len(fulldf) // 30, axis=0)
print(months[0], months[1])

0     44.070000
1     44.470001
2     44.740002
3     44.720001
4     44.790001
5     45.060001
6     45.080002
7     44.820000
8     45.259998
9     44.680000
10    44.799999
11    45.110001
12    45.070000
13    43.360001
14    43.200001
15    43.310001
16    43.509998
17    43.509998
18    43.919998
19    43.580002
20    43.779999
21    44.130001
22    44.049999
23    43.889999
24    44.049999
25    44.270000
26    44.290001
27    43.349998
28    43.490002
29    43.730000
30    42.740002
Name: close, dtype: float64 31    42.459999
32    42.599998
33    42.070000
34    41.700001
35    41.889999
36    42.119999
37    42.480000
38    42.340000
39    42.130001
40    42.150002
41    42.200001
42    42.110001
43    42.290001
44    42.669998
45    42.099998
46    42.560001
47    42.400002
48    42.430000
49    41.959999
50    41.950001
51    42.020000
52    41.500000
53    41.389999
54    41.209999
55    41.049999
56    41.020000
57    41.450001
58    41.830002
59    42.320000
60    42.340000
61    42.200001
Name: close, dtype: float64

In [60]:
# monthly_means_30 = np.mean(monthly_chunks[:-5], axis=1)
# print(monthly_means_30)

# monthly_means_29 = np.mean(monthly_chunks[-5:], axis=1)
# print(monthly_means_29)

# month_30_avg = np.mean(months[:-15], axis=1)
# month_29_avg = np.mean(months[-15:], axis=1)

# print(month_30_avg)
# print(month_29_avg)


sizes = np.array(np.size(months))
print(sizes)

ValueError: setting an array element with a sequence. The requested array has an inhomogeneous shape after 1 dimensions. The detected shape was (173,) + inhomogeneous part.